body{
  display: flex;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root {
  flex-grow: 1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.App{
  width: calc(100%);
  height: 700px;
  max-width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  background-color: slateblue;
}

